.wrapper {
    position: relative;
    padding-bottom: 78px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer; 
}

h1 {
    color: #333333;
}

.wrapper .main {
    flex: 1;
}

.header,
.footer {
    flex-shrink: 0;
}

.top__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.top__phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
}

.time-table {
    font-size: 11px;
    line-height: 14px;
    display: flex;
    flex-direction: row-reverse;
}

.navigation a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li:not(:last-child) {
    margin-right: 28px;
}

.active {
    color:#00BF78;
}

.top__info {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.header {
    background-image: url(./image/header_background.jpg);
    position: relative;
    overflow: hidden;
}

.content__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin: 0 0 16px;
    max-width: 486px;
}

.content__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.hero__content .content__subtitle {
    margin-bottom: 60px;
}

.about__hero .content__subtitle {
    line-height: 32px;
}

.content__btn { 
    font-family: 'Montserrat', sans-serif;
    width: 203px;
    height: 48px;
    background-color: #FB9475;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.hero {
   display: flex;
}

.container {
    max-width: 1110px;
    min-width: 1110px;
    margin: auto;
}

.circle {
    position: relative;
    width: 472px;
    height: 472px;
    left: 49px;
    top: 148px;
    background: #FB9475;
    border-radius: 50%;
}

.hero__content {
    padding-top: 120px;
    margin-right: 9px;
    margin-bottom: 124px;
}

.hero__img {
    position: relative;
}

.hero__img img {
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 0px;
}

.section__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin: 94px 0 32px;
}

.hero__socials {
    height: fit-content;
    position: fixed;
    top: 239px;
    right: calc((100% - 1110px) / 2);
    z-index: 10;
}

.hero__socials div {
    display: flex;
    flex-direction: column;
}

.hero__socials img:not(:last-child) {
    margin-bottom: 20px;
}

.content__article {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

.content__link {
    font-size: 14px;
    line-height: 17px;
    color: #278AFF;
}

.about__hero .content p {
    margin-bottom: 16px;
}

.video-box {
    min-width: 445px;
    height: 297px;
    border-radius: 8px;
    margin-left: 95px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-box:before {
   content:'';
   position: absolute;
   left: 0;
   top:0;
   bottom: 0;
   right: 0;
   background-color: #333333;
   opacity: 20%;
}

.video-box__action {
    color: #fff;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.benefits {
    display: flex;
    justify-content: space-around;
}

.item__title {
    font-size: 18px;
    line-height: 22px;
    margin: 32px 0 12px;
}

.section:not(:last-child) {
    margin-bottom: 100px;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.item__content {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.benefit__img {
    width: 48px;
    height: 48px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 15px;
}

.footer__content span {
    margin-bottom: 8px;
}

.footer__content a {
    color: #278AFF;
    text-decoration: underline;
}

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    height: 78px;
    width: 100%;
}

.footer div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 