
@import 'vars';
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer; 
}

h1 {
    color: #333333;
}

.active {
    color: $active-color;
}

.btn {
    font-family: inherit;
    background-color: $header-items-color;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.container {
    padding: 0;
}

input, select {
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 44px;

    &::placeholder {
        font-size: 14px;
        line-height: 14px;
        color:$placeholder-color;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
      }
}