$font: 'Montserrat', sans-serif;
$header-items-color: #FB9475;
$active-color: #00BF78;
$link-color: #278AFF;
$light-grey-color: #F8F6F7;
$form-background: #fff;
$input-border-color: #D8D8D8;
$placeholder-color:#A0A0A0;
$error-color:red;